# Server settings
# (c) 2025 by Moshix. All rights reserved. 
# bbs_name is the name of your BBS, up to 10 characters wide only!
bbs_name=My3270BBS

# if you define dns_name then this is what will be shown in your logon screen,
# and DNS reverse lookup will not be used.
# ths is useful if you are behind NAT such as in cloud service
dns_name=my3270bbs.localhost 

# Message of the Day
MOTD="Welcome to my 3270 BBS"

# Required Conferences users CANNOT unsubscribe from
required_conferences="General","3270BBS","User content"

# 3270 port
port=3270                  #port for non-encrypted traffic

# 3270 TLS port
tlsport=3271               #port for TSL 1.x encrypted traffic
start_TLS=no

# your certificate
# Create using openssl req -x509 -newkey rsa:2048 -keyout your.key -out your.crt -days 365 -nodes
tlscert=./cert/your.crt
tlskey=./cert/your.key


# Web server port
httpd_port=9000            # port for the HTTPD listenr
start_HTTPD=yes

# FTP server settings
FTP_port=2100             # Port for FTP server (default: 2100)
FTP_limit=20              # Maximum file size in KB (default: 20)
start_FTPD=yes

# ssh server settings
start_SSHD=yes
sshd_port=2022

# Other servers
start_proxy3270=yes

# remote mainframe settings for v27.0 and up
# Up to 15 can be configured.
# The remote hosts are being read in dynamically at runtine
# So you can make changes to the tsu.cnf file for remote hosts without needign to restart the BBS
remote1=Forum3270
remote1_description="moshix Forum3270"
remote1_addr=www.moshix.tech
remote1_port=2300

remote2=SDFVM
remote2_description="VM/SP rel5 with PROFS at SDF"
remote2_addr=sdfvm.sdf.org
remote2_port=24

remote3=Secureproxy3270
remote3_description="Some other mainframe"
remote3_addr=9.9.1.1       # IPV6 also works!
remote3_port=3270

remote4=Gopher Portal 
remote4_description="3270 Gopher Portal" 
remote4_addr=localhost 
remote4_port=7070

remote5=RSS Channels
remote5_description="RSS channels"
remote5_addr=localhost
remote5_port=7300